# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
~$*
.env
.firebase/
*.db
backend/uploads/
uploads/
*.xlsx
backend/backup_*.json
backend/dispatched_recipients.json
backend/sih_all_320_*
backend/local.db
